<!DOCTYPE html>
<html>
  <head>
    <title> <%= @page_title %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content= "<%= @seo_keywords %>" />

    <!-- looks for style sheet called 'application' -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- passing in data to class 'location' in the _nav file  -->
    <%= render "shared/nav", location: 'top' %>

    <%= login_helper %>

    <%= source_helper("application") %>
    
    <%= yield %>

  </body>
</html>

<!-- Every single view page uses this file.  -->